In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("african_crises.csv")
data.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [8]:
data.iloc[:1, 3]

0    1870
Name: year, dtype: int64

In [9]:
data.loc[:, ["country"]] == "Algeria"

      country
0        True
1        True
2        True
3        True
4        True
...       ...
1054    False
1055    False
1056    False
1057    False
1058    False

[1059 rows x 1 columns]

In [10]:
data[data.country == "Morocco"]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
573,40,MAR,Morocco,1940,0,0.9170,0,0,0.0,25.000000,0,0,1,no_crisis
574,40,MAR,Morocco,1941,0,0.9170,0,0,0.0,32.000000,0,0,1,no_crisis
575,40,MAR,Morocco,1942,0,0.7500,0,0,0.0,38.193529,0,0,1,no_crisis
576,40,MAR,Morocco,1943,0,0.5000,0,0,0.0,28.506356,0,1,1,no_crisis
577,40,MAR,Morocco,1944,0,0.5674,0,0,0.0,34.811640,0,1,1,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,40,MAR,Morocco,2010,0,8.3569,0,0,0.0,0.994000,1,0,0,no_crisis
644,40,MAR,Morocco,2011,0,8.5772,0,0,0.0,0.907000,1,0,0,no_crisis
645,40,MAR,Morocco,2012,0,8.4335,0,0,0.0,1.287000,1,0,0,no_crisis
646,40,MAR,Morocco,2013,0,8.1500,0,0,0.0,1.881000,1,0,0,no_crisis
647,40,MAR,Morocco,2014,0,8.8200,0,0,0.0,0.443000,1,0,0,no_crisis