### pandas & numpy learning

In [6]:
import pandas as pd
import numpy as np

In [32]:
data = pd.read_csv("african_crises.csv")
data.head()
data = pd.DataFrame(data)
data

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

In [33]:
data.iloc[:1, 3]

0    1870
Name: year, dtype: int64

In [34]:
data.loc[:, ["country"]] == "Algeria"

      country
0        True
1        True
2        True
3        True
4        True
...       ...
1054    False
1055    False
1056    False
1057    False
1058    False

[1059 rows x 1 columns]

In [49]:
data.loc[(data.country.isin(["Morocco", "Algeria"])) & (data.year > 2000), ["country", "year", "exch_usd"]]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
71,1,DZA,Algeria,2001,0,77.819600,0,0,0.0,4.200,1,0,0,no_crisis
72,1,DZA,Algeria,2002,0,79.723400,0,0,0.0,1.430,1,0,0,no_crisis
73,1,DZA,Algeria,2003,0,72.612800,0,0,0.0,4.259,1,0,0,no_crisis
74,1,DZA,Algeria,2004,0,72.613700,0,0,0.0,3.972,1,0,0,no_crisis
75,1,DZA,Algeria,2005,0,73.379900,0,0,0.0,1.382,1,0,0,no_crisis
76,1,DZA,Algeria,2006,0,71.158200,0,0,0.0,2.315,1,0,0,no_crisis
77,1,DZA,Algeria,2007,0,66.829900,0,0,0.0,3.674,1,0,0,no_crisis
78,1,DZA,Algeria,2008,0,71.182600,0,0,0.0,4.855,1,0,0,no_crisis
79,1,DZA,Algeria,2009,0,72.730900,0,0,0.0,5.743,1,0,0,no_crisis
80,1,DZA,Algeria,2010,0,74.943700,0,0,0.0,3.913,1,0,0,no_crisis
81,1,DZA,Algeria,2011,0,76.056300,0,0,0.0,4.522,1,0,0,no_crisis
82,1,DZA,Algeria,2012,0,78.102500,0,0,0.0,8.916,1,0,0,no_crisis
83,1,DZA,Algeria,2013,0,78.148701,0,0,0.0,3.255,1,0,0,no_crisis
84,1,DZA,Algeria,2014,0,87.970698,0,0,0.0,2.917,1,0,0,no_crisis
634,40,MAR,Morocco,2001,0,11.560000,0,0,0.0,0.613,1,0,0,no_crisis
635,40,MAR,Morocco,2002,0,10.167000,0,0,0.0,2.779,1,0,0,no_crisis
636,40,MAR,Morocco,2003,0,8.749900,0,0,0.0,1.163,1,0,0,no_crisis
637,40,MAR,Morocco,2004,0,8.217700,0,0,0.0,1.493,1,0,0,no_crisis
638,40,MAR,Morocco,2005,0,9.249400,0,0,0.0,0.983,1,0,0,no_crisis
639,40,MAR,Morocco,2006,0,8.456600,0,0,0.0,3.285,1,0,0,no_crisis
640,40,MAR,Morocco,2007,0,7.713200,0,0,0.0,2.036,1,0,0,no_crisis
641,40,MAR,Morocco,2008,0,8.098200,0,0,0.0,3.891,1,0,0,no_crisis
642,40,MAR,Morocco,2009,0,7.860100,0,0,0.0,0.972,1,0,0,no_crisis
643,40,MAR,Morocco,2010,0,8.356900,0,0,0.0,0.994,1,0,0,no_crisis
644,40,MAR,Morocco,2011,0,8.577200,0,0,0.0,0.907,1,0,0,no_crisis
645,40,MAR,Morocco,2012,0,8.433500,0,0,0.0,1.287,1,0,0,no_crisis
646,40,MAR,Morocco,2013,0,8.150000,0,0,0.0,1.881,1,0,0,no_crisis
647,40,MAR,Morocco,2014,0,8.820000,0,0,0.0,0.443,1,0,0,no_crisis

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
data.iloc()