In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("african_crises.csv")
data.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [3]:
data.iloc[:1, 3]

0    1870
Name: year, dtype: int64

In [4]:
data.loc[:, ["country"]] == "Algeria"

      country
0        True
1        True
2        True
3        True
4        True
...       ...
1054    False
1055    False
1056    False
1057    False
1058    False

[1059 rows x 1 columns]

In [5]:
data[data.country == "Morocco"]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
573,40,MAR,Morocco,1940,0,0.9170,0,0,0.0,25.000000,0,0,1,no_crisis
574,40,MAR,Morocco,1941,0,0.9170,0,0,0.0,32.000000,0,0,1,no_crisis
575,40,MAR,Morocco,1942,0,0.7500,0,0,0.0,38.193529,0,0,1,no_crisis
576,40,MAR,Morocco,1943,0,0.5000,0,0,0.0,28.506356,0,1,1,no_crisis
577,40,MAR,Morocco,1944,0,0.5674,0,0,0.0,34.811640,0,1,1,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,40,MAR,Morocco,2010,0,8.3569,0,0,0.0,0.994000,1,0,0,no_crisis
644,40,MAR,Morocco,2011,0,8.5772,0,0,0.0,0.907000,1,0,0,no_crisis
645,40,MAR,Morocco,2012,0,8.4335,0,0,0.0,1.287000,1,0,0,no_crisis
646,40,MAR,Morocco,2013,0,8.1500,0,0,0.0,1.881000,1,0,0,no_crisis
647,40,MAR,Morocco,2014,0,8.8200,0,0,0.0,0.443000,1,0,0,no_crisis

In [ ]:
np.array([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [39]:
data = {
    "nom": [
        "complet", "incomplet", "molecule", "mise",
        "evidence", "filtart", "vapeur", "precipite",
        "indicateur", "anus"
    ],
    "le verbe de nom": [
        "complÃ©ter", "incomplÃ©ter", "molÃ©culer", "mettre",
        "Ã©videncer", "filtrer", "vaporiser", "prÃ©cipiter",
        "indiquer", "anusser"
    ],
    "masculin ou fÃ©minin": [
        "masculin", "masculin", "fÃ©minin", "fÃ©minin",
        "fÃ©minin", "masculin", "fÃ©minin", "masculin",
        "masculin", "masculin"
    ],
    "ExpliquÃ© en arabe": [
        "ÙƒØ§Ù…Ù„", "ØºÙŠØ± ÙƒØ§Ù…Ù„", "Ø¬Ø²ÙŠØ¡", "ÙˆØ¶Ø¹",
        "Ø¯Ù„ÙŠÙ„", "ØªØ±Ø´ÙŠØ­", "Ø¨Ø®Ø§Ø±", "Ø±ÙˆØ§Ø³Ø¨",
        "Ù…Ø¤Ø´Ø±", "Ø´Ø±Ø¬"
    ]
}

# Create DataFrame
b = pd.DataFrame(data)
b

          nom le verbe de nom masculin ou fÃ©minin ExpliquÃ© en arabe
0     complet       complÃ©ter            masculin              ÙƒØ§Ù…Ù„
1   incomplet     incomplÃ©ter            masculin          ØºÙŠØ± ÙƒØ§Ù…Ù„
2    molecule       molÃ©culer             fÃ©minin              Ø¬Ø²ÙŠØ¡
3        mise          mettre             fÃ©minin               ÙˆØ¶Ø¹
4    evidence       Ã©videncer             fÃ©minin              Ø¯Ù„ÙŠÙ„
5     filtart         filtrer            masculin             ØªØ±Ø´ÙŠØ­
6      vapeur       vaporiser             fÃ©minin              Ø¨Ø®Ø§Ø±
7   precipite      prÃ©cipiter            masculin             Ø±ÙˆØ§Ø³Ø¨
8  indicateur        indiquer            masculin              Ù…Ø¤Ø´Ø±
9        anus         anusser            masculin               Ø´Ø±Ø¬

In [40]:
a = pd.read_csv("noms_data_arabic.csv")
a

               nom le verbe de nom masculin ou fÃ©minin ExpliquÃ© en arabe
0        digestion          digere             fÃ©minin       Ø¹Ù…Ù„ÙŠØ© Ø§Ù„Ù‡Ø¶Ù…
1     alimentation       alimenter             fÃ©minin           Ø§Ù„ØªØºØ°ÙŠØ©
2         eduction         eduquer             fÃ©minin           Ø§Ù„ØªØ¹Ù„ÙŠÙ…
3          aliment         aliment            masculin   Ø§Ù„Ù…Ø§Ø¯Ø© Ø§Ù„ØºØ°Ø§Ø¦ÙŠØ©
4   transformation     transformer             fÃ©minin            Ø§Ù„ØªØ­ÙˆÙ„
5             tube           tuber            masculin             Ø£Ù†Ø¨ÙˆØ¨
6           organe       organiser            masculin               Ø¹Ø¶Ùˆ
7     malnutrition      malnourrir             fÃ©minin       Ø³ÙˆØ¡ Ø§Ù„ØªØºØ°ÙŠØ©
8       equilibree      equilibrer             fÃ©minin            Ù…ØªÙˆØ§Ø²Ù†
9         appareil     appareiller            masculin              Ø¬Ù‡Ø§Ø²
10        glucides        glucider            masculin      Ø§Ù„ÙƒØ±Ø¨ÙˆÙ‡ÙŠØ¯Ø±Ø§Øª
11         lipides       lipidiser            masculin            Ø§Ù„Ø¯Ù‡ÙˆÙ†
12        protides        protider            masculin        Ø§Ù„Ø¨Ø±ÙˆØªÙŠÙ†Ø§Øª
13             sel           salir            masculin             Ø§Ù„Ù…Ù„Ø­
14         mineral     mineraliser            masculin           Ø§Ù„Ù…Ø¹Ø¯Ù†ÙŠ

In [42]:
y = pd.concat([a, b], ignore_index=True)
y

               nom le verbe de nom masculin ou fÃ©minin ExpliquÃ© en arabe
0        digestion          digere             fÃ©minin       Ø¹Ù…Ù„ÙŠØ© Ø§Ù„Ù‡Ø¶Ù…
1     alimentation       alimenter             fÃ©minin           Ø§Ù„ØªØºØ°ÙŠØ©
2         eduction         eduquer             fÃ©minin           Ø§Ù„ØªØ¹Ù„ÙŠÙ…
3          aliment         aliment            masculin   Ø§Ù„Ù…Ø§Ø¯Ø© Ø§Ù„ØºØ°Ø§Ø¦ÙŠØ©
4   transformation     transformer             fÃ©minin            Ø§Ù„ØªØ­ÙˆÙ„
5             tube           tuber            masculin             Ø£Ù†Ø¨ÙˆØ¨
6           organe       organiser            masculin               Ø¹Ø¶Ùˆ
7     malnutrition      malnourrir             fÃ©minin       Ø³ÙˆØ¡ Ø§Ù„ØªØºØ°ÙŠØ©
8       equilibree      equilibrer             fÃ©minin            Ù…ØªÙˆØ§Ø²Ù†
9         appareil     appareiller            masculin              Ø¬Ù‡Ø§Ø²
10        glucides        glucider            masculin      Ø§Ù„ÙƒØ±Ø¨ÙˆÙ‡ÙŠØ¯Ø±Ø§Øª
11         lipides       lipidiser            masculin            Ø§Ù„Ø¯Ù‡ÙˆÙ†
12        protides        protider            masculin        Ø§Ù„Ø¨Ø±ÙˆØªÙŠÙ†Ø§Øª
13             sel           salir            masculin             Ø§Ù„Ù…Ù„Ø­
14         mineral     mineraliser            masculin           Ø§Ù„Ù…Ø¹Ø¯Ù†ÙŠ
15         complet       complÃ©ter            masculin              ÙƒØ§Ù…Ù„
16       incomplet     incomplÃ©ter            masculin          ØºÙŠØ± ÙƒØ§Ù…Ù„
17        molecule       molÃ©culer             fÃ©minin              Ø¬Ø²ÙŠØ¡
18            mise          mettre             fÃ©minin               ÙˆØ¶Ø¹
19        evidence       Ã©videncer             fÃ©minin              Ø¯Ù„ÙŠÙ„
20         filtart         filtrer            masculin             ØªØ±Ø´ÙŠØ­
21          vapeur       vaporiser             fÃ©minin              Ø¨Ø®Ø§Ø±
22       precipite      prÃ©cipiter            masculin             Ø±ÙˆØ§Ø³Ø¨
23      indicateur        indiquer            masculin              Ù…Ø¤Ø´Ø±
24            anus         anusser            masculin               Ø´Ø±Ø¬